@use "mixins" as *;
@use "variables" as *;

body {

    position: relative;
    .vertical-line::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 90vh;
      background-color: $primary-color;
      top: 0;
      left: 0;
      margin-left: 1.25rem;
      z-index: -5;
      transform: translateY(var(--translateY, 0));
      transition: transform 1s ease-out;
    }
    
    @include tablet-large {
      .vertical-line::after {
        left: 50%;
        margin-left: auto;
      }
    }

}

