@use 'variables' as*;

// typography and base styles

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: $base-color;
    color: $contrast-color;
    h1 {
        font-family: $font-heading;
    }

    h2 {
        font-family: $font-heading;
        font-size: clamp(1.5rem, calc(2vw + 1rem), 3.5rem);
    }
    p {
        font-family: $font-body;
    }
    a {
        color: $secondary-color; 
        text-decoration: none;
        &:hover {
            color: $tertiary-color;
            text-decoration: underline;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .site-wrapper {
        margin: 0 .5rem;
    }
}

// hero styles

.hero {

    h1 {
        
        font-size: clamp(3rem, calc(5vw + 1rem), 8rem);
    }

    h2 {

        font-size: clamp(1rem, calc(1vw + 1rem), 3rem);

    }

    p {
        font-family: $font-heading;
        font-size: clamp(1rem, calc(1vw + 1rem), 3rem);

    }
}

// about section styles

.toolkit-accordion h3,
.accordion-content ul li {
    font-family: $font-body;
    color: white;
}


// contact section styles
.contact {
    p {
        font-size: clamp(1rem, calc(1vw + 1rem), 1.5rem);
    }
}

// case work styles

.works-page {
    p {
        font-size: clamp(1rem, calc(.5vw + 1rem), 2rem);
        text-align: center;
        margin: 0 .5rem;
    }
}


// individual case work styles

.tools-and-roles {
    h3 {
        font-family: $font-body;
        font-size: 1.2rem;
    }
}

ul {
    li {
        font-family: $font-body;
    }
}

.accordion-content p {
    font-size: clamp(1rem, calc(.5vw + .75rem), 1.25rem);
    text-align: justify;
    padding-bottom: 1rem;
}

.connect-button a {
    font-family: $font-body;
    font-size: clamp(2rem, calc(3vw + 1rem), 2.5rem);

}
