@use 'variables' as*;

// typography and base styles

body {
    background-color: $base-color;
    color: $contrast-color;
    h1 {
        font-family: $font-heading;
    }

    h2 {
        font-family: $font-heading;
        font-size: clamp(1.5rem, calc(2vw + 1rem), 3.5rem);
    }
    p {
        font-family: $font-body;
    }
    a {
        color: $secondary-color; 
        text-decoration: none;
        &:hover {
            color: $tertiary-color;
            text-decoration: underline;
        }
    }
}

// hero styles

.hero {

    h1 {
        
        font-size: clamp(3rem, calc(5vw + 1rem), 8rem);
    }

    h2 {

        font-size: clamp(1rem, calc(1vw + 1rem), 3rem);

    }

    p {
        font-family: $font-heading;
        font-size: clamp(1rem, calc(1vw + 1rem), 3rem);

    }
}

// about section styles

.toolkit-accordion h3,
.accordion-content ul li {
    font-family: $font-body;
    color: white;
}


// contact section styles
.contact {
    p {
        font-size: clamp(1rem, calc(1vw + 1rem), 1.5rem);
    }
}


