@use 'variables' as *;


// Flexbox mixin for default center alignment
@mixin flex-default-center($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
// *************


// media query mixins
@mixin mobile {
    @media screen and (max-width: 37.4375rem) {
        @content;
        
    }
}

@mixin tablet {
    @media screen and (min-width: 37.5rem ) and (max-width: 48rem) {
      @content;
    }
  }

@mixin tablet-desktop {
  @media  screen and (min-width: 48.0625rem){
    @content;
  }
  }
  
  @mixin desktop {
    @media screen and (min-width: 48.0625rem) and (max-width: 1023px) {
      @content;
    }
  }
  
  @mixin large-desktop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

//   *************