//variables

//global fonts
$font-heading: "Libre Bodoni", serif;
$font-body: "Ubuntu", sans-serif;


//global colors
$base-color: #322100;
$contrast-color: #FFFBEF;
$primary-color: #C8B269;
$secondary-color: #EFDB78;
$tertiary-color: #EAE3C0;