@use "mixins" as *;
@use "variables" as *;

// style specific to the individual works page
.works-hero {
  margin-right: 1rem;
    margin-left: .5rem;
}

.project-overview {
  width: 80vw;
  position: relative;
  margin: 0 auto;
  @include flex-default-center(column, center, center);
  padding: 2rem 1rem;
  gap: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(2deg, #b29f94 21.4%, #603813 91.86%);
    filter: blur(100px);
    z-index: -1;
    pointer-events: none;
  }

  @include glassmorphism(10px, 20px);
  z-index: 1;

  @include tablet-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
  }
}
