@use "mixins" as *;
@use "variables" as *;

// styles specific to the individual works page

// Hero section
.works-hero {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

// Project Overview section
.project-overview {
  width: 80vw;
  position: relative;
  margin: 0 auto;
  @include flex-default-center(column, center, center);
  padding: 2rem 1rem;
  gap: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(2deg, #b29f94 21.4%, #603813 91.86%);
    filter: blur(100px);
    z-index: -1;
    pointer-events: none;
  }

  @include glassmorphism(10px, 20px);
  z-index: 1;

  @include tablet-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
  }
}

// Tools and Key Roles section

.tools-and-roles {
  margin: 0.5rem 1rem;
  padding: 1rem;
  @include flex-default-center(column, center, flex-start);
  gap: 1rem;

  .project-links {
    order: -1;
    @include flex-default-center(row, center, center);
    flex-wrap: wrap;
    gap: 2rem;
    background-color: $base-color;
    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-family: $font-body;
      color: $primary-color;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #fffbef 2.72%, $base-color 99.93%);
        background-size: 200%;
        animation: underline-animation 2s infinite;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover,
      &:focus {
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }

  @keyframes underline-animation {
    0% {
      background-position: 200% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .tools-roles-card {
    .tools,
    .roles {
      ul {
        @include flex-default-center(column, center, flex-start);
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        gap: 0.5rem;
      }
    }
    .line-separator {
      width: 50%;
      height: 1px;
      background-color: $contrast-color;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }

  @include tablet {
    width: 80vw;
    margin: 3rem auto;
    background: $base-color;

    .tools-roles-card {
      display: grid;
      grid-template-columns: 1fr 0.5fr 1fr;
      gap: 0.5rem;
      padding: 1rem;
      border: solid 1px;
      border-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.38) 0%,
        rgba(255, 255, 255, 0.05) 100%
      );
      border-radius: 5px;

      .line-separator {
        width: 1px;
        height: 100%;
        margin: 0;
      }
    }
  }

  @include desktop-large {
    width: 30vw;
    align-items: flex-start;
    height: auto;
    margin-left: 50vw;
    background: transparent;
    .project-links {
      order: 0;
    }

    .tools-roles-card {
      display: grid;
      grid-template-columns: 1fr 0.5fr 1fr;
      gap: 0.5rem;
      padding: 1rem;
      @include glassmorphism(10px, 20px);

      .line-separator {
        width: 1px;
        height: 100%;
        margin: 0;
      }
    }
  }

  @include tablet-large {
    margin-top: 20vh;
  }

  @include desktop-large {
    position: sticky;
    top: 2rem;
  }
}

// Project Process Accordion section

.process-accordion {
  margin: 0.5rem 1rem;
  width: 85vw;

  @include tablet {
    width: 80vw;
    margin: 1rem auto;
    position: relative;
    backdrop-filter: blur(50px);
  }

  @include desktop-large {
    width: 40vw;
    margin-left: 8vw;
  }
}

// Contact Button section

.connect-button {
  width: 100%;
  margin: 2rem 1rem 1rem;


  a {
    background-color: $primary-color;
    margin: 1rem 1.5rem 0 .5rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: $base-color;
    font-weight: 600;
    padding: .5rem;
  }

  &:hover {
      a {
        background-color: $secondary-color;
      color: $base-color;
      text-decoration: none;
    }
  }

  @include tablet-large {
    width: 100%;
    margin-bottom: 0;
    a {
      width: 40vw;
      margin: 20vh auto 0;
      padding: 1.5rem;
    }
  }
}
